<!-- Root del componente con layout a due colonne -->
<div class="page-layout">
    <!-- Sidebar -->
    <div class="left-sidebar" [class.closed]="isSidebarClosed">
      <div class="sidebar-content">
        <h3>Menu</h3>
        <ul class="sidebar-menu">
          <li><a (click)="navigateTo('tasse')">Pagamenti e Tasse</a></li>
          <li><a (click)="navigateTo('comune')">Performance Cittadini</a></li>
          <li><a (click)="navigateTo('performance-cittadini')">Performance Comune</a></li>
          <li><a (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
    </div>
    <!-- Contenuto principale -->
    <div class="main-content">
  
      <div class="tax-calculation-form">
        <input type="number" [(ngModel)]="selectedYear" placeholder="Inserisci l'anno" min="2000" max="2099">
        <!-- Disabilita il pulsante se selectedYear è maggiore dell'anno corrente -->
        <button [disabled]="selectedYear == null || selectedYear > getCurrentYear()" (click)="calculateTaxes()" class="load-more-button">Calcola Tasse</button>
      </div>
      
      
  
      <!-- Verifica se ci sono dati disponibili -->
      <div *ngIf="citizens.length > 0; else noData" class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Data di nascita</th>
              <th>Email</th>
    
  
            </tr>
  
          </thead>
          <tbody>
            <tr *ngFor="let citizen of citizens">
              <td>{{ citizen.id }}</td>
              <td>{{ citizen.nome }}</td>
              <td>{{ citizen.cognome }}</td>
              <td>{{ citizen.birthdate }}</td>
              <td>{{ citizen.email }}</td>
              <td>
                <button class="view-history-button" 
                      
                        (click)="viewHistory(citizen.id)">
                  Visualizza Tasse
                </button>
              </td>
               
              
            </tr>
          </tbody>
        </table>
      </div>
      <button *ngIf="showLoadMoreButton" (click)="loadMore()" class="load-more-button">Visualizza  più cittadini</button>
  
  
      <!-- Template mostrato quando non ci sono dati -->
      <ng-template #noData>
        <p>Nessun dato disponibile.</p>
      </ng-template>
    </div>
  </div>
  