/* Stili base per il layout a due colonne */
.page-layout {
  display: flex;
  min-height: 100vh;
}

/* Stili per la sidebar */
.left-sidebar {
  width: 250px;
  height: 100vh;
  background-color: #444;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
}

.sidebar-content {
  padding-top: 60px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu li:last-child {
  border-bottom: none;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Stili per il contenuto principale, incluso lo spazio per la tabella */
.main-content {
  margin-left: 250px;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
  
  // Table styles
  .table-responsive {
    overflow-x: auto; // Enable horizontal scroll for the table
    margin-top: 20px; // Aggiunge spazio sopra la tabella

  
    table {
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      thead {
        tr {
          background-color: #000000;
          color: white;
        }
      }
  
      th,
      td {
        padding: 12px 15px;
        border: 1px solid #ddd;
  
        &:last-child {
          border-right: 0;
        }
      }
  
      tbody {
        tr {
          &:nth-of-type(even) {
            background-color: #f2f2f2;
          }
  
          &:hover {
            background-color: #e8e8e8;
          }
        }
      }
    }
  }
  
  // Responsive adjustments
  @media (max-width: 768px) {
    .page-layout {
      flex-direction: column;
    }
  
    .left-sidebar,
    .main-content {
      width: 100%;
    }
  
    .left-sidebar {
      height: auto;
      position: relative; // Reset position for mobile view
      .closed {
        width: 100%; // Sidebar takes full width when closed on mobile
      }
    }
  }

  .load-more-button {
  background-color: #000000; /* Colore di sfondo blu */
  color: white; /* Testo bianco */
  border: none; /* Nessun bordo */
  padding: 10px 20px; /* Padding interno */
  border-radius: 5px; /* Bordi arrotondati */
  font-weight: bold; /* Testo in grassetto */
  cursor: pointer; /* Cursor a forma di puntatore */
  transition: background-color 0.3s; /* Transizione fluida per il colore di sfondo */

  &:hover {
    background-color: #000000; /* Colore di sfondo più scuro al passaggio del mouse */
  }

  &:disabled {
    background-color: #cccccc; /* Colore di sfondo grigio per lo stato disabilitato */
    cursor: not-allowed; /* Cursor a forma di divieto */
  }
}
.performance-positive {
  color: green; /* Colore verde per valori positivi */
  font-size: larger; /* Testo più grande */
}

.performance-negative {
  color: red; /* Colore rosso per valori negativi */
  font-size: larger; /* Testo più grande */
}
.view-history-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}