/* Stili base per il layout a due colonne */
.page-layout {
  display: flex;
  min-height: 100vh;
}
.toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100; // Sopra la sidebar
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Stili per la sidebar */
.left-sidebar {
  width: 250px;
  height: 100vh;
  background-color: #444;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
}

.sidebar-content {
  padding-top: 60px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu li:last-child {
  border-bottom: none;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Stili per il contenuto principale */
.main-content {
  margin-left: 250px;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Stili per la tabella */
.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #fafafa;
}

.table th, .table td {
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
  text-align: left;
}

.table-paid thead th {
  background-color: #4CAF50; /* Verde per messaggi positivi */
  color: white;
}

.table-unpaid thead th {
  background-color: #f44336; /* Rosso per messaggi negativi */
  color: white;
}

.table tbody tr:hover {
  background-color: #eeeeee;
}

.table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

/* Stili responsive */
@media screen and (max-width: 768px) {
  .page-layout {
    flex-direction: column;
  }

  .left-sidebar, .main-content {
    width: 100%;
    padding: 10px;
    position: relative;
  }

  .left-sidebar {
    height: auto;
  }

  .main-content {
    margin-left: 0;
  }
}
/* Stili per la tabella */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 0.9em;
  font-family: sans-serif;
}

.styled-table thead {
  background-color: #333;
  color: white;
}

.styled-table thead tr th {
  padding: 15px;
  text-align: left;
  border-bottom: 2px solid white;
}

.styled-table tbody tr td {
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  color: #333;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Stili responsive */
@media screen and (max-width: 768px) {
  .left-sidebar, .main-content {
    width: 100%;
    position: relative;
    padding: 10px;
  }

  .main-content {
    margin-left: 0;
  }

  .left-sidebar {
    position: relative;
    height: auto;
  }
}



.table-responsive {
  overflow-x: auto; /* Scorrevole se necessario */
  margin-top: 20px; /* Spazio sopra la tabella */
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leggera ombra per profondità */
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd; /* Bordi chiari per le celle */
}

/* Intestazione della tabella */
thead tr {
  background-color: #000;
  color: white;
}

/* Righe della tabella */
tbody tr:nth-of-type(even) {
  background-color: #f2f2f2; /* Sfondo alternato per le righe */
}

tbody tr:hover {
  background-color: #e8e8e8; /* Sfondo al passaggio del mouse */
}

/* Responsive: Sidebar sopra il contenuto su schermi piccoli */
@media (max-width: 768px) {
  .left-sidebar, .main-content {
      width: 100%;
      height: auto;
      position: relative; /* Resetta la posizione per la visualizzazione mobile */
      padding: 10px; /* Spazio ridotto per schermi piccoli */
  }

  .main-content {
      margin-left: 0; /* Nessun margine sinistro su dispositivi mobili */
  }
}
  // Table styles
  .table-responsive {
    overflow-x: auto; // Enable horizontal scroll for the table
    margin-top: 20px; // Aggiunge spazio sopra la tabella

  
    table {
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      thead {
        tr {
          background-color: #000000;
          color: white;
        }
      }
  
      th,
      td {
        padding: 12px 15px;
        border: 1px solid #ddd;
  
        &:last-child {
          border-right: 0;
        }
      }
  
      tbody {
        tr {
          &:nth-of-type(even) {
            background-color: #f2f2f2;
          }
  
          &:hover {
            background-color: #e8e8e8;
          }
        }
      }
    }
  }
  
  // Responsive adjustments
  @media (max-width: 768px) {
    .page-layout {
      flex-direction: column;
    }
  
    .left-sidebar,
    .main-content {
      width: 100%;
    }
  
    .left-sidebar {
      height: auto;
      position: relative; // Reset position for mobile view
      .closed {
        width: 100%; // Sidebar takes full width when closed on mobile
      }
    }
  }

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fafafa;
    th, td {
        padding: 0.75rem;
        border: 1px solid #e0e0e0;
        text-align: left;
    }
}

.table-paid thead th {
    background-color: #4CAF50; /* Verde per messaggi positivi */
    color: white;
}

.table-unpaid thead th {
    background-color: #f44336; /* Rosso per messaggi negativi */
    color: white;
}

tbody tr:hover {
    background-color: #eeeeee;
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}
  
 