<!-- Root del componente con layout a due colonne -->
<div class="page-layout">
    <!-- Sidebar -->
    <div class="left-sidebar" [class.closed]="isSidebarClosed">
        <div class="sidebar-content">
            <h3>Menu</h3>
            <ul class="sidebar-menu">
                <li *ngIf="userRole == 'citizen'"><a (click)="navigateTo('agency')">Home</a></li>

                <li *ngIf="userRole !== 'citizen'"><a (click)="navigateTo('tasse')">Pagamenti e Tasse</a></li>
                <li *ngIf="userRole == 'citizen'"><a (click)="viewHistory()">Pagamenti e Tasse </a></li>
                <li *ngIf="userRole !== 'citizen'"><a (click)="navigateTo('comune')">Performance Cittadini</a></li>
                <li *ngIf="userRole == 'citizen'"><a (click)="navigateToPerformanceCitizen()">Performance Mensili</a></li>

                <li *ngIf="userRole !== 'citizen'"><a (click)="navigateTo('performance-cittadini')">Performance Comune</a></li>
                <li *ngIf="userRole == 'citizen'"><a (click)="viewNotifications()">Messaggi</a></li>

                <li><a (click)="onLogout()">Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- Main Content -->
    <div class="main-content">
        <div *ngFor="let notifica of notifiche" [ngClass]="{'positive': notifica.indicePerformance > 60, 'negative': notifica.indicePerformance <= 60}">
            <h2>{{notifica.tipoNotifica}}</h2>
            <table class="table" [ngClass]="{'table-paid': notifica.indicePerformance > 60, 'table-unpaid': notifica.indicePerformance <= 60}">
                <thead>
                    <tr>
                        <th>Messaggio</th>
                        <th>Indice di Performance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ notifica.messaggio }}</td>
                        <td>{{ notifica.indicePerformance }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

