.page-layout {
  display: flex;
  min-height: 100vh;
}

.left-sidebar {
  width: 250px;
  height: 100vh;
  background-color: #444;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
}

.sidebar-content {
  padding-top: 60px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu li:last-child {
  border-bottom: none;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-content {
  margin-left: 220px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow-y: auto;
  width: calc(100% - 250px);
}

.header-info {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.header-info h2 {
  color: #333;
  font-size: 24px;
}

.chart-container {
  align-self: flex-end; 
  width: 80%;
  max-width: 1000px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  margin-right: 10%; 
}

.chart-title {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}





