<!-- Root del componente con layout a due colonne -->
<div class="page-layout">
    <!-- Sidebar -->
    <div class="left-sidebar" [class.closed]="isSidebarClosed">
      <div class="sidebar-content">
        <h3>Menu</h3>
        <ul class="sidebar-menu">
          <li *ngIf="userRole == 'citizen'"><a (click)="navigateTo('agency')">Home</a></li>

          <li *ngIf="userRole !== 'citizen'"><a (click)="navigateTo('tasse')">Pagamenti e Tasse</a></li>
          <li *ngIf="userRole == 'citizen'"><a (click)="viewHistory()">Pagamenti e Tasse </a></li>
          <li *ngIf="userRole !== 'citizen'"><a (click)="navigateTo('comune')">Performance Cittadini</a></li>
          <li *ngIf="userRole == 'citizen'"><a (click)="navigateToPerformanceCitizen()">Performance Mensili</a></li>

          <li *ngIf="userRole !== 'citizen'"><a  (click)="navigateTo('performance-cittadini')">Performance Comune</a></li>
          <li *ngIf="userRole == 'citizen'"><a (click)="viewNotifications()">Messaggi</a></li>


          <li><a (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
    </div>

    <!-- Main content area -->
    <div class="main-content">
        <!-- Sezione Titolo con Anno -->
        <div class="header-info">
          <h2>Anno: {{ anno }}</h2>
        </div>

        <!-- Contenitore Grafico -->
        <div class="chart-container">
            <div class="chart-title">Performance Mensili</div>
            <canvas #performanceChart></canvas>
        </div>
    </div>
</div>

