.welcome-message {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
  }
}

.table-container {
  position: relative; // Posizionamento relativo
  left: 250px; // Sposta a destra per la larghezza della sidebar
  width: calc(100% - 250px); // Nuova larghezza calcolata
  max-width: calc(100vw - 250px); 
  overflow-x: auto; // Permette lo scorrimento se il contenuto è troppo largo
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 768px), (max-width: 992px) {
    left: 0; // Su schermi più piccoli, ripristina la posizione
    width: 100%; 
    max-width: 100vw; // Larghezza massima per viewport più piccoli
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;

    thead {
      background-color: #000000;
      color: #fff;

      th {
        padding: 15px;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f2f2f2;
        }

        &:hover {
          background-color: #ddd;
        }

        td {
          padding: 15px;
          color: #666;
          border-bottom: 1px solid #ddd;

          &:nth-child(2) {
            text-align: left;
          }

          button {
            padding: 8px 15px;
            background-color: #000000;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #000000;
            }

            &:focus {
              outline: none;
              box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
            }
          }
        }
      }
    }
  }
}

.toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.3s;

  h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }

  .sidebar-content {
    padding-top: 60px;
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:last-child {
        border-bottom: none;
      }

      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  &.closed {
    left: -250px;
  }
}
