<div class="left-sidebar" [class.closed]="isSidebarClosed">
  <div class="sidebar-content">
    <h3>Menu</h3>
    <ul class="sidebar-menu">
      
      <li><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</div>



<div class="welcome-message">
  <h1>Benvenuto, {{ username }}</h1>
</div>

<div class="table-container">
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Day</th>
      <th>stato</th>
      <th></th> 

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let path of paths">
      <td>{{ path.id }}</td>
      <td>{{ path.day | date }}</td> 
      <td>{{ path.statoPercorso }}</td> 
      <td>
        <button *ngIf="path.statoPercorso !== 'completato'" (click)="viewDetails(path)">Visualizza Dettagli</button>
        <span *ngIf="path.statoPercorso === 'completato'">Percorso Chiuso</span>

      </td> <!-- Pulsante per visualizzare i dettagli -->
    </tr>
  </tbody>
</table>
</div>
