.toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100; // Sopra la sidebar
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.3s;

  h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }

}

.closed {
  left: -250px; // Nasconde la sidebar
}



.sidebar-content {
  padding-top: 60px; 
}
.sidebar-menu {
  list-style: none;
  padding: 0;

  li {
    margin: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); // Linea sotto ogni voce

    &:last-child {
      border-bottom: none; 
    }

    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2); // Sfondo leggermente più chiaro al passaggio del mouse
      }
    }
  }
}

.paths-table-container {
  margin-left: 270px; /* Distanza dalla sidebar */
  padding: 20px;
  width: calc(100% - 270px); /* Larghezza in base alla sidebar */
}

/* Stile per la tabella */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ombra più scura */
  font-size: 0.9em;
  font-family: 'Arial', sans-serif;
}

.styled-table thead {
  background-color: #333; /* Testata nera */
  color: white; /* Testo bianco */
}

.styled-table thead tr th {
  padding: 15px;
  text-align: left;
  border-bottom: 2px solid white; /* Linea di separazione */
}

.styled-table tbody tr td {
  padding: 15px;
  border-bottom: 1px solid #eaeaea; /* Linea sottile per ogni riga */
  color: #333; /* Testo scuro */
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9; /* Alternanza colori per le righe */
}

.styled-table tbody tr:hover {
  background-color: #ddd; /* Colore hover */
  cursor: pointer;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879; /* Colore per la riga attiva */
}

.completati-table-container {
  .styled-table thead {
    background-color: #4CAF50; // Verde per percorsi completati
  }
  .styled-table tbody tr:hover {
    background-color: #76d07d; // Verde più chiaro per l'hover
  }
}

.non-completati-table-container {
  .styled-table thead {
    background-color: #f44336; // Rosso per percorsi non completati
  }

  .styled-table tbody tr:hover {
    background-color: #ff7961; // Rosso più chiaro per l'hover
  }
}

/* Stile per il pulsante 'Visualizza Dettagli' */
.details-button {
  padding: 8px 16px;
  background-color: #444; /* Bottone nero */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #555; /* Colore hover per il bottone */
  }
}

/* Stili per dispositivi con schermo più piccolo */
@media screen and (max-width: 768px) {
  .paths-table-container {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }

  .styled-table {
    width: 100%;
  }
}

/* Adatta i margini per dispositivi con schermo più piccolo */
@media screen and (max-width: 768px) {
  .paths-table-container {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }

  .styled-table {
    width: 100%;
  }
}
