<!-- Pulsante per aprire/chiudere la sidebar -->

<!-- Sidebar a sinistra -->
<div class="left-sidebar" [class.closed]="isSidebarClosed">
  <div class="sidebar-content">
    <h3>Menu</h3>
    <ul class="sidebar-menu">
      <li><a (click)="navigateTo('agency')">Home</a></li>
      <li><a (click)="navigateTo('cassonetti')">Cassonetti</a></li>
      <li><a (click)="navigateTo('percorsi')">Percorsi</a></li>
      <li><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</div>

<!-- Contenitore per la tabella dei percorsi completati -->
<div class="paths-table-container completati-table-container">
  <h2>Percorsi Completati</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>ID Percorso</th>
        <th>Data</th>
        <th>Stato</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let path of percorsiCompletati">
        <td>{{ path.id }}</td>
        <td>{{ path.day | date }}</td>
        <td>{{ path.statoPercorso }}</td>
       
        <td>
          <button (click)="navigateToDetails(path)" class="details-button">Visualizza Dettagli</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Contenitore per la tabella dei percorsi non completati -->

  <div class="paths-table-container non-completati-table-container">
    <h2>Percorsi Non Completati</h2>
    <table class="styled-table">
    <thead>
      <tr>
        <th>ID Percorso</th>
        <th>Data</th>
        <th>Stato</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let path of percorsiNonCompletati">
        <td>{{ path.id }}</td>
        <td>{{ path.day | date }}</td>
        <td>{{ path.statoPercorso }}</td>
    
        <td>
          <button (click)="navigateToDetails(path)" class="details-button">Visualizza Dettagli</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
