<div class="search-container">
  <input type="text" [(ngModel)]="searchAddress" placeholder="Inserisci un indirizzo...">
  <button (click)="searchAndNavigate()">Cerca</button>
</div>

<div class="buttons-container">
  
  <button class="route-btn" *ngIf="userRole === 'citizen' && !isWasteDisposalMode" (click)="enterWasteDisposalMode()">
    Conferisci
  </button>
  
  
  <button class="route-btn" *ngIf="!isCreatingContainer && !isRouteCreationMode && !isPositionEditMode && userRole !== 'citizen'" (click)="enterRouteCreationMode()">
    Crea Percorso
  </button>

  <!-- Mostra 'Annulla Percorso', 'Continua' e 'Crea Percorso Rapido' solo in modalità creazione percorso -->
  <button class="route-btn" *ngIf="isRouteCreationMode && !isPositionEditMode" (click)="enterRouteCreationMode()">
    Annulla Percorso
  </button>
  <button class="route-btn" *ngIf="isRouteCreationMode && !isPositionEditMode" (click)="continueWithRoute()">
    Continua
  </button>
  <button class="route-btn" *ngIf="isRouteCreationMode && !isPositionEditMode" (click)="createQuickRoute()">
    Crea Percorso Rapido
  </button>

  
  
  <!-- Mostra 'Crea Cassonetto', 'Annulla' e 'Continua' per la creazione del cassonetto -->
  <button class="route-btn" *ngIf="!isCreatingContainer && !isRouteCreationMode  && !isPositionEditMode && userRole !== 'citizen'" (click)="enterContainerCreationMode()">
    Crea Cassonetto
  </button>
  <button class="route-btn" *ngIf="isCreatingContainer && !isPositionEditMode" (click)="cancelContainerCreation()">
    Annulla
  </button>
  <button class="route-btn" *ngIf="isCreatingContainer && !isPositionEditMode" (click)="finalizeContainerCreation()">
    Continua
  </button>
  <button class="route-btn" *ngIf="!isPositionEditMode && !isRouteCreationMode &&!isCreatingContainer && userRole !== 'citizen'" (click)="enterPositionEditMode()">
    Modifica Posizione
  </button>
  


  <button class="route-btn" *ngIf="isPositionEditMode" (click)="confirmPositionUpdate()">
    Conferma
  </button>

  
 
  
</div>



<button class="toggle-sidebar" (click)="toggleSidebar()">☰</button>

<!-- Sidebar a sinistra -->
<div class="left-sidebar" [class.closed]="isSidebarClosed">
  <div class="sidebar-content">
    <h3>Menu</h3>
    <ul class="sidebar-menu">
      <li><a (click)="navigateTo('agency')">Home</a></li>
      <li *ngIf="userRole == 'citizen'"><a (click)="viewHistory()">Pagamenti e Tasse </a></li>

      <li *ngIf="userRole !== 'citizen'"><a (click)="navigateTo('cassonetti')">Cassonetti</a></li>
      <li *ngIf="userRole == 'citizen'"><a (click)="navigateToPerformanceCitizen()">Performance Mensili</a></li>
      <li *ngIf="userRole !== 'citizen'"><a (click)="navigateTo('percorsi')">Percorsi</a></li>
      <li *ngIf="userRole == 'citizen'"><a (click)="viewNotifications()">Messaggi</a></li>

      <li><a (click)="onLogout()">Logout</a></li>
      
      

    </ul>
  </div>
</div>

<!-- Map Container -->

<div *ngIf="userRole === 'citizen'" class="welcome-message">
  Benvenuto, {{ username }}!
  
</div>



<div id="map">
  
  <div class="leaflet-control coordinate"></div>
</div>

<div class="alert-panel" *ngIf="userRole !== 'citizen'">
  <h3>Allarmi</h3>
  <div class="alert-list">
    <div *ngFor="let alert of alerts" class="alert-item" (click)="focusOnMarker(alert.id)">
      ID: {{ alert.id }}<br>
      Filling Level: {{ alert.fillingLevel }}<br>
      Timestamp: {{ alert.timestamp }}
    </div>
  </div>
</div>


<!-- Pannello Notifiche per gli utenti con ruolo 'citizen' -->
<div class="alert-panel" *ngIf="userRole === 'citizen'">
  <h3>Performance</h3>
  <div class="notification-list">
    <div *ngFor="let notifica of performanceMensili" class="notification-item">
      Mese: {{ notifica.mese }}<br>
      Indice di Performance: <span [ngStyle]="{'color': notifica.indicePerformance < 60 ? 'red' : 'green'}">{{ notifica.indicePerformance }}</span>
    </div>
  </div>
</div>