.toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100; // Sopra la sidebar
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.3s;

  h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }

}

.closed {
  left: -250px; // Nasconde la sidebar
}

#map {
  width: calc(100% - 320px); // Larghezza ridotta per fare spazio al pannello degli allarmi
  height: 88vh;
  margin-bottom: 20px;
  float: left;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  
}
.coordinate {
  position: absolute;
  bottom: 10px;
  right: 50%;
}

.leaflet-popup-content-wrapper {
  background-color: #000000;
  color: #fff;
  border: 1px solid red;
  border-radius: 10px;
}

.alert-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  
  h3 {
    margin-top: 0;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }

  .alert-list {
    margin-top: 20px;
  }

  .alert-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: rgba(255, 50, 50, 0.8);
    }
  }
  .notification-list {
    .notification-item {
      font-size: 1rem; // Dimensione di base per il testo
      color: #fff; // Colore del testo bianco per alto contrasto

      // Stile per "Mese" e "Indice di Performance"
      Mese, Indice di Performance {
        font-size: 1.2rem; // Aumenta la dimensione del testo
        font-weight: bold; // Rende il testo in grassetto per maggiore leggibilità
      }

      span {
        font-size: 1.4rem; // Aumenta ulteriormente la dimensione per l'indice di performance
        padding: 3px 6px; // Aggiunge un po' di spazio intorno al numero
        border-radius: 4px; // Arrotonda i bordi dello sfondo del testo
        font-weight: bold; // Assicura che il numero sia in grassetto
        // L'attributo [ngStyle] nel template gestisce il colore basato sul valore
      }
    }
  }
}
  

.sidebar-content {
  padding-top: 60px; // Spazio per evitare la sovrapposizione con il pulsante
}
.sidebar-menu {
  list-style: none;
  padding: 0;

  li {
    margin: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); // Linea sotto ogni voce

    &:last-child {
      border-bottom: none; // Rimuove la linea per l'ultima voce
    }

    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2); // Sfondo leggermente più chiaro al passaggio del mouse
      }
    }
  }
}

.buttons-container {
  position: fixed;
  top: 3px;
  left: 40%;
  transform: translateX(-40%); 
  display: flex;
  gap: 10px; 
  z-index: 1100;
}

.route-btn {
  display: block;
  padding: 12px;
  background-color: #000000;
  color: white;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #3F51B5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.custom-div-icon {
  border: 2px solid #333;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.search-container {
  position: fixed;
  top: -3px; 
  left: calc(100% - 300px - 270px); /* Larghezza del pannello degli allarmi + larghezza della barra di ricerca */
  z-index: 1100;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  border: 1px solid #ddd;
  padding: 8px 10px;
  border-radius: 4px;
  margin-right: 8px;
  flex-grow: 1; 
}

.search-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #0056b3;
}
.welcome-message {
  position: fixed;
  top: 10px;
  left: 27%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  color: #100606;
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 1101; 
  box-shadow: 0 2px 4px rgba(18, 1, 1, 0.2);
}
