<div class="register-container">
    <div class="register-card">
      <h2>Register</h2>
      <form (submit)="onRegister()">
        <div class="form-group">
          <input type="text" [(ngModel)]="user.nome" name="nome" placeholder="Nome" required>
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="user.cognome" name="cognome" placeholder="Cognome" required>
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="user.username" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="user.email" name="email" placeholder="Email" required>
          </div>
        
        <div class="form-group">
          <input type="date" [(ngModel)]="user.birthdate" name="birthdate" placeholder="Data di Nascita" required>
        </div>
        
        <button type="submit" class="register-btn">Registrati</button>
        <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
      </form>
    </div>
  </div>
  