html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-sidebar {
    width: 250px;
    background-color: #444;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
    padding: 20px;
}

.sidebar-content {
    padding-top: 60px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;

    li {
        margin: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    li:last-child {
        border-bottom: none;
    }

    a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.content {
    margin-left: 180px; /* Mantiene lo spazio per la sidebar */
    flex-grow: 1;
    overflow-y: auto;
    padding: 0; /* Rimuove qualsiasi padding interno per avvicinare le tabelle alla sidebar */
    width: calc(100% - 250px); /* Occupa lo spazio rimanente */
}

h2 {
    margin: 20px 20px; /* Mantieni un po' di spazio per l'intestazione */
}



.table {
    width: 100%; /* Occupa tutta la larghezza del suo contenitore */
    margin: 0; /* Rimuove i margini esterni per evitare spazi aggiuntivi */
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fafafa;

    th, td {
        padding: 0.75rem;
        border: 1px solid #e0e0e0;
        text-align: left;
    }
}

.table-paid thead th {
    background-color: #4CAF50;
    color: white;
}

.table-unpaid thead th {
    background-color: #f44336;
    color: white;
}

tbody tr:hover {
    background-color: #eeeeee;
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.view-history-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0056b3;
    }
}

