<div class="container">
    <div class="left-sidebar" [class.closed]="isSidebarClosed">
        <div class="sidebar-content">
            <h3>Menu</h3>
            <ul class="sidebar-menu">
                <li *ngIf="userRole == 'citizen'"><a (click)="navigateTo('agency')">Home</a></li>

                <li *ngIf="userRole !== 'citizen'"><a (click)="navigateTo('tasse')">Pagamenti e Tasse</a></li>
          <li *ngIf="userRole == 'citizen'"><a (click)="viewHistory()">Pagamenti e Tasse </a></li>
          <li *ngIf="userRole !== 'citizen'"><a (click)="navigateTo('comune')">Performance Cittadini</a></li>
          <li *ngIf="userRole == 'citizen'"><a (click)="navigateToPerformanceCitizen()">Performance Mensili</a></li>

          <li *ngIf="userRole !== 'citizen'"><a  (click)="navigateTo('performance-cittadini')">Performance Comune</a></li>
          <li *ngIf="userRole == 'citizen'"><a (click)="viewNotifications()">Messaggi</a></li>
                <li><a (click)="onLogout()">Logout</a></li>
            </ul>
        </div>
    </div>
  
    <div class="content">
        <div *ngIf="taxesPaid.length > 0">
            <h2>Tasse Pagate</h2>
            <table class="table table-paid">
                <thead>
                    <tr>
                        <th>Anno</th>
                        <th>Importo</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tax of taxesPaid">
                        <td>{{ tax.year }}</td>
                        <td>{{ tax.amount | currency:'EUR' }}</td>
                        <td>{{ tax.status }}</td>
                        <td>
                            <button mat-button (click)="showPaymentDetails(tax.id)"class="view-history-button"> Visualizza Dettagli</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="taxesUnpaid.length > 0">
            <h2>Tasse Non Pagate</h2>
            <table class="table table-unpaid">
                <thead>
                    <tr>
                        <th>Anno</th>
                        <th>Importo</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tax of taxesUnpaid">
                        <td>{{ tax.year }}</td>
                        <td>{{ tax.amount | currency:'EUR' }}</td>
                        <td>{{ tax.status }}</td>
                        <td *ngIf="userRole === 'citizen'">
                            <button mat-button (click)="makePayment(tax)" class="view-history-button">Paga</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
