<!-- Root del componente con layout a due colonne -->
<div class="page-layout">

  
  <!-- Sidebar -->
  <div class="left-sidebar" [class.closed]="isSidebarClosed">
    <div class="sidebar-content">
      <h3>Menu</h3>
      <ul class="sidebar-menu">
        
        <li><a (click)="navigateTo('tasse')">Pagamenti e Tasse </a></li>
        <li><a (click)="navigateTo('comune')">Performance Cittadini</a></li>
        <li><a (click)="navigateTo('performance-cittadini')">Performance Comune</a></li>
        <li><a (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>
  
  <!-- Contenuto principale -->
  <div class="main-content">

    <div class="calculate-performance-form">
  
      <form (ngSubmit)="calculatePerformance()">
        <div class="form-group">
          <label for="performanceYear">Anno</label>
          <input type="number" id="performanceYear" [(ngModel)]="selectedYear" name="performanceYear" required>
        </div>
        <div class="form-group">
          <label for="performanceMonth">Mese</label>
          <select id="performanceMonth" [(ngModel)]="selectedMonth" name="performanceMonth" required>
            <option value="1">Gennaio</option>
            <option value="2">Febbraio</option>
            <option value="3">Marzo</option>
            <option value="4">Aprile</option>
            <option value="5">Maggio</option>
            <option value="6">Giugno</option>
            <option value="7">Luglio</option>
            <option value="8">Agosto</option>
            <option value="9">Settembre</option>
            <option value="10">Ottobre</option>
            <option value="11">Novembre</option>
            <option value="12">Dicembre</option>
          </select>
        </div>
        <button type="submit" class="view-history-button">Calcola Performance</button>
      </form>
    </div>
    
    <button (click)="creaNotifiche()" class="load-more-button">Sensibilizza</button>
    

    <!-- Verifica se ci sono dati disponibili -->
    <div *ngIf="citizens.length > 0; else noData" class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Data di nascita</th>
            <th>Email</th>
            <th>Performance % (Anno, Mese)</th>

          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let citizen of citizens">
            <td>{{ citizen.id }}</td>
            <td>{{ citizen.nome }}</td>
            <td>{{ citizen.cognome }}</td>
            <td>{{ citizen.birthdate }}</td>
            <td>{{ citizen.email }}</td>
            <td *ngIf="citizen.latestPerformance" 
              [style.background-color]="citizen.latestPerformance.performanceMensili[0].indicePerformance > 60 ? 'green' : 'red'"
              style="color: white; font-size: larger;">
            {{ citizen.latestPerformance.performanceMensili[0].indicePerformance }}%
            ({{ citizen.latestPerformance.anno }}, {{ citizen.latestPerformance.performanceMensili[0].mese }})
            </td>
            <td *ngIf="!citizen.latestPerformance">N/A</td>
            <td>
              <div class="button-group">
                <button class="view-history-button" 
                        *ngIf="citizen.latestPerformance" 
                        (click)="viewHistory(citizen.id, citizen.latestPerformance.anno)">
                  Visualizza storico
                </button>
                
                <button class="view-history-button" 
                        (click)="viewNotifications(citizen.id)">
                  Visualizza notifiche
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button *ngIf="showLoadMoreButton" (click)="loadMore()" class="load-more-button">Visualizza  più cittadini</button>


    <!-- Template mostrato quando non ci sono dati -->
    <ng-template #noData>
      <p>Nessun dato disponibile.</p>
    </ng-template>
  </div>

