/* Stili base per il layout a due colonne */
.page-layout {
  display: flex;
  min-height: 100vh;
}

/* Stili per la sidebar */
.left-sidebar {
  width: 250px;
  height: 100vh;
  background-color: #444;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
}

.sidebar-content {
  padding-top: 60px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu li:last-child {
  border-bottom: none;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Stili per il contenuto principale, incluso lo spazio per la tabella */
.main-content {
  margin-left: 250px;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Stili per la tabella */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 0.9em;
  font-family: sans-serif;
}

.styled-table thead {
  background-color: #333;
  color: white;
}

.styled-table thead tr th {
  padding: 15px;
  text-align: left;
  border-bottom: 2px solid white;
}

.styled-table tbody tr td {
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  color: #333;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Stili responsive */
@media screen and (max-width: 768px) {
  .left-sidebar, .main-content {
    width: 100%;
    position: relative;
    padding: 10px;
  }

  .main-content {
    margin-left: 0;
  }

  .left-sidebar {
    position: relative;
    height: auto;
  }
}


/* Stili per la tabella, mantenuti semplici */
.table-responsive {
  overflow-x: auto; /* Scorrevole se necessario */
  margin-top: 20px; /* Spazio sopra la tabella */
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leggera ombra per profondità */
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd; /* Bordi chiari per le celle */
}

/* Intestazione della tabella */
thead tr {
  background-color: #000;
  color: white;
}

/* Righe della tabella */
tbody tr:nth-of-type(even) {
  background-color: #f2f2f2; /* Sfondo alternato per le righe */
}

tbody tr:hover {
  background-color: #e8e8e8; /* Sfondo al passaggio del mouse */
}

/* Responsive: Sidebar sopra il contenuto su schermi piccoli */
@media (max-width: 768px) {
  .left-sidebar, .main-content {
      width: 100%;
      height: auto;
      position: relative; /* Resetta la posizione per la visualizzazione mobile */
      padding: 10px; /* Spazio ridotto per schermi piccoli */
  }

  .main-content {
      margin-left: 0; /* Nessun margine sinistro su dispositivi mobili */
  }
}
  // Table styles
  .table-responsive {
    overflow-x: auto; // Enable horizontal scroll for the table
    margin-top: 20px; // Aggiunge spazio sopra la tabella

  
    table {
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      thead {
        tr {
          background-color: #000000;
          color: white;
        }
      }
  
      th,
      td {
        padding: 12px 15px;
        border: 1px solid #ddd;
  
        &:last-child {
          border-right: 0;
        }
      }
  
      tbody {
        tr {
          &:nth-of-type(even) {
            background-color: #f2f2f2;
          }
  
          &:hover {
            background-color: #e8e8e8;
          }
        }
      }
    }
  }
  
  // Responsive adjustments
  @media (max-width: 768px) {
    .page-layout {
      flex-direction: column;
    }
  
    .left-sidebar,
    .main-content {
      width: 100%;
    }
  
    .left-sidebar {
      height: auto;
      position: relative; // Reset position for mobile view
      .closed {
        width: 100%; // Sidebar takes full width when closed on mobile
      }
    }
  }

  .load-more-button {
  background-color: #000000; /* Colore di sfondo blu */
  color: white; /* Testo bianco */
  border: none; /* Nessun bordo */
  padding: 10px 20px; /* Padding interno */
  border-radius: 5px; /* Bordi arrotondati */
  font-weight: bold; /* Testo in grassetto */
  cursor: pointer; /* Cursor a forma di puntatore */
  transition: background-color 0.3s; /* Transizione fluida per il colore di sfondo */

  &:hover {
    background-color: #000000; /* Colore di sfondo più scuro al passaggio del mouse */
  }

  &:disabled {
    background-color: #cccccc; /* Colore di sfondo grigio per lo stato disabilitato */
    cursor: not-allowed; /* Cursor a forma di divieto */
  }
}
.performance-positive {
  color: green; /* Colore verde per valori positivi */
  font-size: larger; /* Testo più grande */
}

.performance-negative {
  color: red; /* Colore rosso per valori negativi */
  font-size: larger; /* Testo più grande */
}
.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px; // Aggiunge spazio tra i pulsanti
}

.view-history-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-bottom: 8px;
  &:hover {
    background-color: #0056b3;
  }
}
.performance-calculation-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.calculation-title {
  font-size: 16px; /* Riduzione ulteriore della dimensione del testo */
  margin-bottom: 10px;
  text-align: center; /* Centratura del titolo */
  width: 100%;
}

.calculate-performance-section {
  display: flex;
  flex-direction: row; /* Cambio direzione per disporre gli elementi in linea */
  align-items: center; /* Allineamento verticale degli elementi del form */
  justify-content: space-around; /* Distribuzione dello spazio intorno agli elementi */
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f8f9fa;
}

.calculate-performance-form {
  display: flex;
  align-items: center;
  gap: 10px; /* Distanza tra gli elementi del form */
}

.form-group {
  display: flex;
  flex-direction: column;
}




/* Ridimensionamento per dispositivi mobili */
@media (max-width: 768px) {
  .calculate-performance-section {
    flex-direction: column; /* Elementi in colonna su dispositivi più piccoli */
    align-items: stretch; /* Allineamento degli elementi */
  }

  .calculate-performance-form {
    display: flex;
    align-items: center; /* Assicura che tutti gli elementi siano allineati verticalmente */
    justify-content: space-between; /* Distribuisce lo spazio uniformemente */
    gap: 10px; /* Spazio tra gli elementi */
  }
  
  .form-group {
    display: flex;
    flex-direction: row; /* Elementi in orizzontale */
    align-items: center; /* Centra verticalmente gli elementi nel form-group */
  }
  
  /* Stile per i label all'interno dei .form-group per mantenere l'allineamento e lo spazio */
  .form-group label {
    margin-right: 5px; /* Spazio tra label e input/select */
  }
  
  /* Adattamenti per dispositivi mobili */
  @media (max-width: 768px) {
    .calculate-performance-form, .form-group {
      flex-direction: column; /* Cambia direzione in colonna per dispositivi mobili */
      align-items: stretch; /* Estende gli elementi per occupare l'intera larghezza */
    }
  
    .form-group label {
      margin-right: 0; /* Rimuove il margine destro su dispositivi mobili */
    }
  
  }
}