<div class="main-container">
  <div class="left-sidebar" [class.closed]="isSidebarClosed">
    <div class="sidebar-content">
      <h3>Menu</h3>
      <ul class="sidebar-menu">
        <li><a (click)="navigateTo('agency')">Home</a></li>
        <li><a (click)="navigateTo('cassonetti')">Cassonetti</a></li>
        <li><a (click)="navigateTo('percorsi')">Percorsi</a></li>
        <li><a (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="content-container">
    <div class="tables-container">
      <div class="table-container">
        <h3>Dipendenti</h3>
        <table class="styled-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Cognome</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees" 
                [ngClass]="{'selected': employee.id === selectedDriverId}" 
                (click)="selectEmployee(employee.id)">
              <td>{{ employee.id }}</td>
              <td>{{ employee.nome }}</td>
              <td>{{ employee.cognome }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-container">
        <h3>Veicoli Disponibili</h3>
        <table class="styled-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tipo Veicolo</th>
              <th>Nome</th>
              <th>Peso Carico</th>
              <th>Stato Servizio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehicle of vehicles" 
                [ngClass]="{'selected': vehicle.id === selectedVehicleId}" 
                (click)="selectVehicle(vehicle.id)">
              <td>{{ vehicle.id }}</td>
              <td>{{ vehicle.vehicleType }}</td>
              <td>{{ vehicle.name }}</td>
              <td>{{ vehicle.cargoWeight }}</td>
              <td>{{ vehicle.serviceStatus }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="date-picker-container">
      <label for="routeDate">Seleziona Data:</label>
      <input type="date" id="routeDate" (change)="onDateSelect($event)">
    </div>

    <div class="button-container">
      <button (click)="onContinueClick()" class="continue-button">Continua</button>
    </div>
  </div>
</div>
