.main-container {
  display: flex;

  .left-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
    transition: left 0.3s;

    &.closed {
      left: -250px;
    }

    h3 {
      margin-top: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid white;
    }

    .sidebar-content {
      padding-top: 60px;
    }

    .sidebar-menu {
      list-style: none;
      padding: 0;

      li {
        margin: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &:last-child {
          border-bottom: none;
        }

        a {
          color: white;
          text-decoration: none;
          display: block;
          padding: 10px 15px;
          border-radius: 5px;
          transition: background-color 0.3s;

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }
  }

  .content-container {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px;

    .tables-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .table-container {
      flex: 1;
      overflow-x: auto;

      table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        th, td {
          padding: 12px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }

        th {
          background-color: #000000;
          color: white;
          font-size: 16px;
        }

        tr {
          transition: background-color 0.3s;

          &:nth-child(even) {
            background-color: #f9f9f9;
          }

          &:hover {
            background-color: #eff0f1;
            cursor: pointer;
          }

          &.selected {
            background-color: #D1C4E9;
          }
        }
      }
    }

    .date-picker-container {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      label {
        margin-right: 10px;
        font-weight: bold;
      }

      input[type="date"] {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        color: #333;
        cursor: pointer;

        &:focus {
          outline: none;
          border-color: #5C6BC0;
          box-shadow: 0 0 4px rgba(92, 107, 192, 0.5);
        }
      }
    }

    .button-container {
      .continue-button {
        padding: 12px 25px;
        background-color: #000000; 
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, box-shadow 0.3s;

        &:hover {
          background-color: #43A047;
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main-container {
    .content-container {
      margin-left: 0;
      width: 100%;
    }

    .left-sidebar.closed {
      left: 0;
    }
  }
}
