.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f6f9;
  
    .login-card {
      background: #ffffff;
      padding: 60px;
      border-radius: 10px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 500px;  
      text-align: center;
  
      h2 {
        margin-bottom: 15px; 
        font-size: 28px;  
        color: #333;
      }
  
      p {
        margin-bottom: 25px;  
        font-size: 16px; 
        color: #666;
      }
  
      .form-group {
        width: 100%;
        margin-bottom: 25px;  
  
        input {
          width: 100%;
          padding: 12px 18px;  
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          transition: border-color 0.3s;
  
          &:focus {
            border-color: #007bff;
            outline: none;
          }
  
          &::placeholder {
            color: #aaa;
          }
        }
      }
  
      .login-btn {
        padding: 12px 30px;  
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 8px;
  
        &:hover {
          background-color: #0056b3;
        }
      }
  
      .token-display {
        margin-top: 25px; 
        font-size: 12px;
        color: #999;
      }
    }
  }
  
  