<div class="login-container">
  <div class="login-card">
    <h2>Benvenuto</h2>
    <p>Accedi o registrati</p>
    <form (submit)="onLogin()">
      <div class="form-group">
        <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Password">
      </div>
      <button class="login-btn" type="submit">Login</button>
      <!-- Aggiunto pulsante di registrazione -->
      <button class="login-btn" type="button" (click)="navigateToRegister()">Registrati</button>
    </form>
  </div>
</div>
