$primary-color: #4a4e69;
$secondary-color: #9a8c98;
$background-color: #f2e9e4;
$text-color: #22223b;
$hover-color: #c9ada7;
$sidebar-width: 250px;
$table-background-color: #fff;
$header-background-color: #333;
$hover-background-color: #ddd;
$detail-background-color: #f8f8f8;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100vh;
  background-color: $primary-color;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.3s;

  &.closed {
    left: -#{$sidebar-width};
  }

  .sidebar-content {
    padding-top: 60px;
  }

  h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:last-child {
        border-bottom: none;
      }

      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}

.container-details-table {
  margin-left: $sidebar-width;
  padding: 20px;
  width: calc(100% - #{$sidebar-width});
  transition: margin-left 0.3s;

  @media screen and (max-width: 768px) {
    margin-left: 0;
    width: 100%;
  }
  
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 0.9em;
  font-family: sans-serif;
  margin-top: 20px;
  background-color: $table-background-color;
  border-radius: 10px;

  thead {
    background-color: $header-background-color;
    color: white;

    tr th {
      padding: 15px;
      text-align: left;
      border-bottom: 2px solid white;
    }
  }

  tbody {
    tr {
      td {
        padding: 15px;
        border-bottom: 1px solid #eaeaea;
        color: $text-color;

        &:first-child {
          border-left: none;
        }

        button.clean-button {
          padding: 6px 12px;
          background-color: #28a745; // Verde acceso
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s, transform 0.2s;

          &:hover {
            background-color: #218838; 
            transform: scale(1.05);
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.5);
          }
        }
      }

      &:nth-of-type(even) {
        background-color: #f3f3f3;
      }

      &:hover {
        background-color: $hover-background-color;
        cursor: pointer;
      }
    }
  }
}

.details-panel {
  margin-left: $sidebar-width;
  padding: 20px;
  transition: margin-left 0.3s;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  color: $text-color;

  @media screen and (max-width: 768px) {
    margin-left: 0;
    border-radius: 0;
  }

  h3 {
    color: $primary-color;
    font-size: 1.8em;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 600;
  }

  div {
    padding: 25px;
    margin-top: 25px;
    background-color: $detail-background-color;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    &:hover {
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    }

    p {
      margin: 0;
      padding: 12px 0;
      font-size: 1.1em;
      line-height: 1.7;
    }
  }
}
.cleaned-indicator {
  color: green;
  font-size: 1.5em; 
}

.close-path-button {
  padding: 8px 16px;
  background-color: #000000; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.2s, transform 0.2s;

  &:hover {
    background-color: #000000; 
    transform: scale(1.05); // Effetto zoom leggero
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5); // Focus con box-shadow
  }
}
