<div class="left-sidebar" [class.closed]="isSidebarClosed">

    <div class="sidebar-content">
      <h3>Menu</h3>
      <ul class="sidebar-menu">
        <li *ngIf="userRole !== 'employee'"><a (click)="navigateTo('agency')">Home</a></li>
        <li *ngIf="userRole !== 'employee'"><a (click)="navigateTo('cassonetti')">Cassonetti</a></li>
        <li *ngIf="userRole !== 'employee'"><a (click)="navigateTo('percorsi')">Percorsi</a></li>
        <li *ngIf="userRole == 'employee'"><a (click)="navigateTo('employee2')">Percorsi</a></li>
        <li><a (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="container-details-table">
    <h3>Dettagli Percorso</h3>
    <button *ngIf="userRole === 'employee'" (click)="closePath()" class="close-path-button">Chiudi Percorso</button>

    <td *ngIf="userRole !== 'employee'">
      <button (click)="deletePathById(id)">🗑️</button> <!-- Pulsante di eliminazione -->
    </td>

    <table class="styled-table">
      
      <thead>
        
        <tr>
          <th>ID Cassonetto</th>
          <th>Via</th>
          <th>Latitudine</th>
          <th>Longitudine</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let container of containers">
          
          <td>{{ container.id }}</td>
          <td>{{ container.via }}</td>
          <td>{{ container.latitude }}</td>
          <td>{{ container.longitude }}</td>
          <td *ngIf="userRole === 'employee'">
            <button *ngIf="!cleanedContainers.has(container.id)" class="clean-button" (click)="cleanContainer(container.id)">Pulisci</button>
            <span *ngIf="cleanedContainers.has(container.id)" class="cleaned-indicator">✔️</span>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>


  <div class="details-panel">
    

    <h3>Dettagli Driver</h3>
    <div *ngIf="driverDetails">
    
      <p>ID Driver: {{ driverDetails.id }}</p>
      <p>Nome: {{ driverDetails.nome }}</p>
      <p>cognome: {{ driverDetails.cognome }}</p>

      
    </div>
  
    <h3>Dettagli Veicolo</h3>
    <div *ngIf="vehicleDetails">
      
      <p>ID Veicolo: {{ vehicleDetails.id }}</p>
      <p>Nome: {{ vehicleDetails.name }}</p>
      <p>Stato: {{ vehicleDetails.serviceStatus }}</p>
      <p>cargoWeight{{ vehicleDetails.cargoWeight }}</p>
      
      
 
    </div>
  
    
  