<h1>Users page</h1>
<div *ngFor="let user of users">
  <h3>{{user.nome}} {{user.cognome}}</h3>
  <ul *ngIf="showDetails">
    <li>{{user.email}}</li>
    <li>{{user.id}}</li>
    <li>{{user.birthdate | date:'shortDate'}}</li>
  </ul>
 
<button (click)="goToDetail(user.id)">Dettagli</button>
</div>
<!--<button routerLink="/about/{{user.id}}">Dettagli</button>-->
<!--<button (click)="goToDetail(user.id)">Dettagli</button>-->
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <div class="form-group">
    <label for="exampleInputNome">Nome</label>
    <input
      [(ngModel)] = "user.nome" name="nome"
      required
      minlength="2"
      #inputNome = "ngModel"
      [ngClass] = "{'is-invalid': inputNome.errors && inputNome.touched}"
      type="text" class="form-control" id="exampleInputNome" placeholder="Enter Nome">
    <!--{{user.nome}}-->
    <div class="invalid-feedback">
      Please choose a name.
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputCognome">Cognome</label>
    <input
      [(ngModel)] = "user.cognome" name="cognome"
      type="text" class="form-control" id="exampleInputCognome" placeholder="Enter Cognome">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail" class="form-label">E-mail</label>
    <input
      [(ngModel)] = "user.email" name="mail"
      required
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      #inputEmail = "ngModel"
      [ngClass]="{'is-invalid': inputEmail.errors && inputEmail.touched}"
      type="email" class="form-control" id="exampleInputEmail"> <!-- is-invalid -->
    {{user.email}}
    <div class="invalid-feedback">
      Please insert a valid e-mail.
    </div>
  </div>
  <!-- [disabled] = "user.nome == '' || user.cognome == ''" -->
  <button
    [disabled] = "!userForm.valid"
    type="submit" class="btn btn-primary" (click)="addNewUser()">Submit</button>
</form>

<!-- <button [disabled]="isDisabled" (click)="fireEvent($event)" type="button" [ngClass]="currentClass" class="btn">Click me</button>-->


