<div class="main-container">

  
    <div class="left-sidebar" [class.closed]="isSidebarClosed">
      <div class="sidebar-content">
        <h3>Menu</h3>
        <ul class="sidebar-menu">
          <li><a (click)="navigateTo('agency')">Home</a></li>
          <li><a (click)="navigateTo('cassonetti')">Cassonetti</a></li>
          <li><a (click)="navigateTo('percorsi')">Percorsi</a></li>
          <li><a (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
    </div>
<div class="details-main-wrapper" *ngIf="containerDetails">
  <div class="details-wrapper">
      <!-- Pannello dei dettagli del contenitore -->
      <div class="panel container-details">
          <h2>Dettagli</h2>
          <ul class="details-list">
              <li class="detail-item">
                  <span class="label">ID:</span> {{containerDetails.id}}
              </li>
              <li class="detail-item">
                  <span class="label">Tipo:</span> {{containerDetails.type}}
              </li>
              <li class="detail-item">
                  <span class="label">Modello:</span> {{containerDetails.refWasteContainerModel}}
              </li>
              <li class="detail-item">
                  <span class="label">Numero di serie:</span> {{containerDetails.serialNumber}}
              </li>
              <li class="detail-item">
                  <span class="label">Latitudine:</span> {{containerDetails.latitude}}
              </li>
              <li class="detail-item">
                  <span class="label">Longitudine:</span> {{containerDetails.longitude}}
              </li>
              <li class="detail-item">
                  <span class="label">Via:</span> {{containerDetails.via}}
              </li>
              
          </ul>
      </div>
      
      <!-- Pannello dei dettagli del modello di cassonetto -->
      <div class="panel model-details" *ngIf="modelDetails">
        <h2>Dettagli Modello</h2>
        <ul class="details-list">
            <li class="detail-item">
                <span class="label">Larghezza:</span> {{modelDetails.width}}
            </li>
            <li class="detail-item">
                <span class="label">Altezza:</span> {{modelDetails.height}}
            </li>
            <li class="detail-item">
                <span class="label">Profondità:</span> {{modelDetails.depth}}
            </li>
            <li class="detail-item">
                <span class="label">Volume del carico:</span> {{modelDetails.cargoVolume}}
            </li>
            <li class="detail-item">
                <span class="label">Marca:</span> {{modelDetails.brandName}}
            </li>
            <li class="detail-item">
                <span class="label">Nome modello:</span> {{modelDetails.modelName}}
            </li>
            <li class="detail-item" *ngFor="let compliance of modelDetails.compliantWith">
                <span class="label">Conforme a:</span> {{compliance}}
            </li>
            <li class="detail-item">
                <span class="label">Materiale:</span> {{modelDetails.madeOf}}
            </li>
        </ul>
    </div>
</div>
</div>