.main-container {
  display: flex;
  position: relative;
}

.toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.3s;

  h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }

  .sidebar-content {
    padding-top: 60px;
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:last-child {
        border-bottom: none;
      }

      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  &.closed {
    left: -250px;
  }
}

.details-main-wrapper {
  flex-grow: 1;
  padding: 20px;
  margin-top: 50px; // Margine superiore per evitare sovrapposizione con il pulsante
  margin-left: 250px; // Margine sinistro uguale alla larghezza della sidebar
  transition: margin-left 0.3s;
}

.details-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.panel {
  flex: 1;
  background-color: #f9f9f9; // Sfondo chiaro per maggiore leggibilità
  color: #333; // Testo scuro per contrasto
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 300px;
  margin: 0 auto;

  h2 {
    color: #2c3e50; // Titolo più scuro
    margin-bottom: 20px;
    font-size: 24px;
  }

  .details-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .detail-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #eaeaea;
      color: #2c3e50; // Testo più scuro

      .label {
        font-weight: bold;
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 768px) {
  .details-main-wrapper {
    padding: 10px;
    margin-left: 0; // Rimuove il margine sinistro su schermi piccoli
    margin-top: 30px; // Margine superiore ridotto
  }

  .details-wrapper {
    flex-direction: column;
  }

  .panel {
    flex: none;
    width: 100%;
  }
}


.left-sidebar.closed + .details-main-wrapper {
  margin-left: 0; // Rimuove il margine quando la sidebar è chiusa
}
