.main-container {
  display: flex;
}

.toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.3s;

  h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }

  .sidebar-content {
    padding-top: 60px;
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:last-child {
        border-bottom: none;
      }

      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  &.closed {
    left: -250px; 
  }
}

.main-container.sidebar-closed .container-table {
  margin-left: 0;
  padding-left: 0; 
  width: 100%; 
}

.container-table {
  padding: 20px;
  padding-top: 100px;
  overflow-x: auto;
  margin-left: 250px; /* Margine sinistro quando la sidebar è aperta */
  width: calc(100% - 250px); /* Larghezza calcolata in base alla larghezza della sidebar */
  transition: margin-left 0.3s ease, padding-left 0.3s ease, width 0.3s ease;

  table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    thead {
      tr {
        background-color: #e1e1e1;
        color: #333;
        font-size: 16px;
        font-weight: bold;

        th {
          position: sticky;
          top: 0;
          z-index: 10;
          background-color: #f8f8f8;
        }
      }
    }

    th, td {
      text-align: left;
      padding: 8px 10px;
      border-bottom: 1px solid #1c1a1a;

      transition: background-color 0.2s ease-in-out;
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f7eded;
        }
        
        

        &:hover {
          background-color: #e7e7e7;
        }
      }
    }
  }
  
}


@media (max-width: 768px) {
  .left-sidebar,
  .left-sidebar.closed {
    width: 100%;
    left: -250px; 
  }

  .main-container.sidebar-closed .container-table,
  .container-table {
    margin-left: 0;
    padding-left: 0;
    padding-top: 50px;
  }
}


.alarm {
  color: red;
  font-weight: bold;
  font-size: 24px; /* Aumenta il carattere */
  animation: alarm-blink 1s ease-in-out infinite alternate; 
  background-color: #ffc0cb; 
  padding: 8px 12px; 
  border-radius: 4px; 
}
@keyframes alarm-blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.table-button, .delete-button {
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
  font-weight: bold;

  &.table-button {
    background-color: #000000;
    color: white;

    &:hover {
      background-color: darken(#4CAF50, 10%);
    }
  }

  &.delete-button {
    background-color: #f44336;
    color: white;

    &:hover {
      background-color: darken(#f44336, 10%);
    }
  }
}
