<div class="main-container" [class.sidebar-closed]="isSidebarClosed">


  <div class="left-sidebar" [class.closed]="isSidebarClosed">
    <div class="sidebar-content">
      <h3>Menu</h3>
      <ul class="sidebar-menu">
        <li><a (click)="navigateTo('agency')">Home</a></li>
        <li><a (click)="navigateTo('cassonetti')">Cassonetti</a></li>
        <li><a (click)="navigateTo('percorsi')">Percorsi</a></li>
        <li><a (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="container-table">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Tipo</th>
          <th>Modello</th>
          <th>Numero di Serie</th>
          <th>Via</th>
          <th>Filling Level</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let container of containers">
          <td>{{ container.id }}</td>
          <td>{{ container.type }}</td>
          <td>{{ container.refWasteContainerModel }}</td>
          <td>{{ container.serialNumber }}</td>
          <td>{{ container.via }}</td>
          <td [class.alarm]="isAlarm(container.fillingLevel)">{{ container.fillingLevel }}</td>
          <td>
            <button (click)="navigateToDetails(container.id)" class="table-button">Visualizza Dettagli</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
