<div class="main-container">
  <div class="left-sidebar" [class.closed]="isSidebarClosed">
    <div class="sidebar-content">
      <h3>Menu</h3>
      <ul class="sidebar-menu">
        <li><a (click)="navigateTo('agency')">Home</a></li>
        <li><a (click)="navigateTo('cassonetti')">Cassonetti</a></li>
        <li><a (click)="navigateTo('percorsi')">Percorsi</a></li>
        <li><a (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>
  
  <div class="container-table">
    <table>
      <thead>
        <tr>
          <th>ID Modello</th>
          <th>Marca</th>
          <th>Modello</th>
          <th>Materiale</th>

          <!-- Altre intestazioni di colonna -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of wasteContainerModels" 
            (click)="selectModel(model.id)" 
            [ngClass]="{'selected-row': model.id === selectedModelId}">
          <td>{{ model.id }}</td>
          <td>{{ model.brandName }}</td>
          <td>{{ model.modelName }}</td>
          <td>{{ model.madeOf }}</td>
          <!-- Altre celle -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="serial-number-input">
    <input type="text" [(ngModel)]="serialNumber" placeholder="Inserisci il numero di serie">
  </div>
  <div class="waste-type-selector">
    <select [(ngModel)]="selectedWasteType">
      <option value="Unsorted">Unsorted waste</option>
      <option value="Cardboard">Cardboard waste</option>
      <option value="Plastic">Plastic waste</option>
      <option value="GlassMetals">Glass and metals waste</option>
      <option value="Organic">Organic waste</option>
    </select>
  </div>
  <button class="modern-button" (click)="onContinue()">Continua</button>


</div>

