.toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.3s;

  h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }

  .sidebar-content {
    padding-top: 60px;
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:last-child {
        border-bottom: none;
      }

      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  &.closed {
    left: -250px;
  }
}

.main-container {
  display: flex;
  flex-direction: column; 
  align-items: end; // Centra gli elementi

  .container-table {
    width: calc(100% - 250px); // Larghezza tenendo conto della sidebar
    margin-top: 20px;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          background-color: #444;
          color: white;

          th {
            padding: 10px;
            text-align: left;
          }
        }
      }

      tbody {
        tr {
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: rgba(0, 123, 255, 0.1);
          }

          td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
  }

  .waste-type-selector, .serial-number-input {
    width: 50%; 
    margin-top: 10px;

    select, input {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #000000;
      font-size: 14px;
      color: #333;

      &:focus {
        outline: none;
        border-color: #666;
      }
    }

    option {
      padding: 8px;
    }
  }
}

.selected-row {
  background-color: #e0e0e0;
}
button {
  padding: 10px 20px;
  background-color: #000000; // Colore di sfondo del pulsante
  color: #fff; // Colore del testo
  border: none;
  border-radius: 5px; // Bordo arrotondato
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

// Stile al passaggio del mouse
button:hover {
  background-color: #0056b3; // Colore di sfondo leggermente più scuro al passaggio del mouse
  transform: translateY(-2px); // Effetto di sollevamento leggero
}

// Stile al clic
button:active {
  background-color: #000000; // Colore di sfondo più scuro al clic
  transform: translateY(1px); // Effetto di pressione leggera
}

// Stile quando il pulsante è disabilitato
button:disabled {
  background-color: #ccc; // Colore di sfondo grigio quando disabilitato
  color: #888; // Colore del testo grigio quando disabilitato
  cursor: not-allowed; // Cambia il cursore quando disabilitato
}